<div class="p-3 bg-gray-50">
  <%= form_with model: [ @post, @post.comments.build ] , url: account_post_comments_path(:post_id => @post.id), as: :post do |form| %>
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
    <%= form.hidden_field :post_id ,:value => @post.id  %>
    <%= form.hidden_field :account_id ,:value => current_account.id  %>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>

