<div class="h-screen bg-gray-50 flex flex-col justify-center items-center">
  <div class="bg-white border border-gray-300 w-80 py-8 flex items-center flex-col mb-3">
    <h1 class="bg-no-repeat instagram-logo"></h1>

    <div class="mt-8 w-64 flex flex-col">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Username or email",
                            class: "text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "text-xs w-full mb-4 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none"%>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class: "text-sm w-full text-center bg-blue-500 text-white py-1 rounded font-medium" %>
        </div>
      <% end %>
    </div>
    <div class="flex justify-evenly space-x-2 w-64 mt-4">
      <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
      <span class="flex-none uppercase text-xs text-gray-400 font-semibold">or</span>
      <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
    </div>
    <button class="mt-4 flex">
      <div class="bg-no-repeat facebook-logo mr-1"></div>
      <span class="text-xs text-blue-900 font-semibold">Log in with Facebook</span>
    </button>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-xs text-blue-900 mt-4 cursor-pointer -mb-4" %><br />
  </div>
  <div class="bg-white border border-gray-300 text-center w-80 py-4">
    <span class="text-sm">Don't have an account?</span>
    <%= link_to "Sign up", new_registration_path(resource_name), class:"text-blue-500 text-sm font-semibold" %>
  </div>
  <div class="mt-3 text-center">
    <span class="text-xs">Get the app</span>
    <div class="flex mt-3 space-x-2">
      <div class="bg-no-repeat apple-store-logo"></div>
      <div class="bg-no-repeat google-store-logo"></div>
    </div>
  </div>
</div>