
<div id="<%= dom_id post %>" >
  <p> Post text:
    <%= post.text %>
  </p>

  <div>
    <% if post.post_image.attached? %>
      <%= image_tag post.post_image %>
    <% else %>
      <%= "/default_profile.jpg" %>
    <% end %>
  </div>
  <p>
    <%= post.account.name %>
  </p>

  <h2 class="bg-blue-200 text-3xl p-3">Comments</h2>
  <%= render partial: 'comments/comment', locals: { comments: post.comments }%>
  <%#= render post.comments %>

  <h2 class="bg-blue-200 text-3xl p-3">Add a comment:</h2>
  <%= render 'comments/form' %>

</div>
